---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)



@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}

/* Override something in this theme to get icons/menu */
/* a little more compact. -kltm */
.navbar-nav li a {
    /* margin: 12.5px 6px; */ /* <- compiled-in original from line 5 above */
    margin: 12.5px 1px;
}

.header-container {
  /* background-color: black; */
  /* background: url('../img/bg.jpg') no-repeat 50% 0; */
  /* color: #fff; */
  color: #333;

  h1 {
    /* color: #fff; */
    color: #333;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
}
.page-content {
  /* padding-bottom: 20px; */
  padding-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 46px; */
  height: 56px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.navbar-form .has-feedback .form-control-feedback{
  top:10px
}


img[src$="center"] {
  display:block;
  margin: 0 auto;
}

.u-vertical-bar-left {
    border-left: 5px solid royalblue;
    margin-right: 1rem;
}

h1 {
  color: royalblue;
}


