---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family-sans-serif: "Lato", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight: 400;

@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "typeahead"
;

.navbar {
  font-family: $font-family-base;
}

.jumbotron p {
  font-weight: 400;
}

.faq-gif{
  margin-top: 12px;
  text-align: center;
}

.faq-gif img{
  height: 260px;
  width: auto;
  max-width: 100%;
}
