# Site settings
title: Gene Ontology Resource
email: help@geneontology.org
description: >
  The Gene Ontology (GO) project is a major bioinformatics initiative
  to develop a computational representation of our evolving knowledge
  of how genes encode biological functions at the molecular, cellular
  and tissue system levels.

baseurl: "" # the subpath of your site, e.g. /blog/
url: http://geneontology.org # the base hostname & protocol for your site
git_address: https://github.com/geneontology/geneontology.github.io

# theme options from https://bootswatch.com/
# comment out this to use default Bootstrap
bootwatch: readable

# Build settings
markdown: kramdown
highlighter: rouge
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-datapage-generator

exclude:
  - Gemfile
  - Gemfile.lock
  - .idea/
  - .gitignore
  - README.md
  - vendor  # In GitHub workflows, the ruby/setup-ruby action will install gems here
timezone: America/Los_Angeles
defaults:

- scope:
    path: _docs
    type: docs
  values:
    sectionid: docs
    layout: docs
    seo:
      type: "WebPage"

- scope:
    path: _posts
    type: posts
  values:
    sectionid: blog
    layout: post

collections:
  docs:
    permalink: /:collection/:path/
    output: true
  downloads:
    permalink: /:collection/:path/
    output: true
  posts:
    permalink: /blog/:year/:month/:day/:title/
    output: true

sass:
  sass_dir: _sass

algolia:
  application_id: Q641OOGVUG
  index_name: index_go
  search_only_api_key: 6bdeab83f499a2c57732057d1f30dd6c
#  record_css_selector: 'p,ul,li,div,h1,h2,h3,h4,span'
  extensions_to_index:
    - html
    - md
  files_to_exclude: 
    - search.html
    - index.html
    - allposts.html
    - covid-19.html
#   nodes_to_index: 'article' # elements to be indexed 
  nodes_to_index: 'p,blockquote,li,div,paragraph,td,span,h1,h2,h3'

page_gen:
  - data: gorefs
    template: goref
    name: id
