*,
*::after,
*::before {
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-weight: 400 !important;
    line-height: $default-line-height;

    outline: none;
    // margin: 0;
    // padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
}

// restoring font-family for FontAwesome icons
.fa,
.fa::after,
.fa::before {
    font-family: "FontAwesome" !important;
}
