*,
*::after,
*::before {
    box-sizing: border-box;

    line-height: $default-line-height;

    outline: none;
    // margin: 0;
    // padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
}
