
.navbar-brand{
    img{
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
}

.navbar-nav li a {
      margin: 0px;
}

.header-container {
    /* background-color: black; */
    /* background: url('../img/bg.jpg') no-repeat 50% 0; */
    /* color: #fff; */
    color: #333;

    h1 {
      /* color: #fff; */
      color: #333;
    }
    // background-attachment: fixed;
    background-size: cover;
    background-position: center 36%;
    margin-top: -37px;
}

.navbar-container {
    font-size: 14px;
}

.page-content {
	min-height: 900px;
//    padding-bottom: 220px;
    // padding-bottom: 130px;
}



.post-list-container {
    li a.active {
      font-weight: bold;
    }
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

.navbar-form .has-feedback .form-control-feedback{
    top:10px
}

img[src$="center"] {
    display:block;
    margin: 0 auto;
}





// =====================================================
// USED FOR
td, th {
    vertical-align: middle !important;
    }
.left, .right {
        float:left;
        height:100vh;
    }

.left {
        background: #337ab7;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
        margin-right:40px;
        position: fixed;
    }

.right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
    }

.left:hover {
        width: 250px;
    }

.item:hover {
        background-color:#ccc;
        }

.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }

.right .glyphicon {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }

.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }
.title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
	border: 0px solid #fff;
	background: #eee;
	-webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }









// =====================================================
// USED FOR https://bootsnipp.com/snippets/4O9nR
    .breadcrumb-arrow {
        height: 36px;
        padding: 0;
        line-height: 36px;
        list-style: none;
        background-color: #e6e9ed
    }
    .breadcrumb-arrow li:first-child a {
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px
    }
    .breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
        display: inline-block;
        vertical-align: top
    }
    .breadcrumb-arrow li:not(:first-child) {
        margin-left: -5px
    }
    .breadcrumb-arrow li+li:before {
        padding: 0;
        content: ""
    }
    .breadcrumb-arrow li span {
        padding: 0 10px
    }
    .breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
        height: 36px;
        padding: 0 10px 0 25px;
        line-height: 36px
    }
    .breadcrumb-arrow li:first-child a {
        padding: 0 10px
    }
    .breadcrumb-arrow li a {
        position: relative;
        color: #fff;
        text-decoration: none;
        background-color: #3bafda;
        border: 1px solid #3bafda
    }
    .breadcrumb-arrow li:first-child a {
        padding-left: 10px
    }
    .breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
        position: absolute;
        top: -1px;
        width: 0;
        height: 0;
        content: '';
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent
    }
    .breadcrumb-arrow li a:before {
        right: -10px;
        z-index: 3;
        border-left-color: #3bafda;
        border-left-style: solid;
        border-left-width: 11px
    }
    .breadcrumb-arrow li a:after {
        right: -11px;
        z-index: 2;
        border-left: 11px solid #2494be
    }
    .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
        background-color: #4fc1e9;
        border: 1px solid #4fc1e9
    }
    .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
        border-left-color: #4fc1e9
    }
    .breadcrumb-arrow li a:active {
        background-color: #2494be;
        border: 1px solid #2494be
    }
    .breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
        border-left-color: #2494be
    }
    .breadcrumb-arrow li span {
        color: #434a54
    }





// =====================================================
// USED FOR https://bootsnipp.com/snippets/e3QvQ
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


.jumbotron {
    background: linear-gradient(rgb(66, 82, 175), white);
    color: white;
}

.jumbotron h1 {
    color: white !important;
    text-shadow: 1px 1px black;
}

.go-navbar {
    box-shadow: 1px 1px 29px rgba(0, 0, 0, 0.25);
    background-color: $navbar-color;
    border-radius: 0px;
    padding-right: 10px;
    margin-top: 0px;
    border: none;
    border-color: none;
    border-top-style: inset;
    border-top-color: #002379;
    border-top-width: 1px;
}

.go-search-bar {
    box-shadow: 1px 1px 9px navy;
}

.footer {
    // background-color: $color-grey-dark-3;
    // color: $color-grey-light-1;
    // background-color: lightgrey;
    // background: linear-gradient(white, #4252af);
    color: white !important;
    background-color: rgba(0, 23, 79, 1);
    // background-color: #f7fff3;
    border-top: 1px solid #002379;
    color: #002379;
    position: absolute;
    // bottom: 0;
    width: 100%;

    /* background-color: transparent; */
    /* color: black; */
    /* Needs to match the header in color, font, size, etc. */
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -0.5rem 4rem;


    &__link {
        /* color: black !important; */
        /* text-shadow: 1px 1px 9px black; */
    }

    &__text {
        /* color: #002379 !important; */
        /* text-shadow: 1px 1px 9px black; */
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        letter-spacing: 0.35rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    // &__link {
    //     &:link,
    //     &:visited {
    //         color: $color-grey-light-1;
    //         background-color: $color-grey-dark-3;
    //         text-decoration: none;
    //         text-transform: uppercase;
    //         display: inline-block;
    //         transition: all .2s;
    //     }

    //     &:hover,
    //     &:active {
    //         color: $color-primary;
    //         box-shadow: 0 1rem 2rem rgba($color-black, .4);
    //         transform: rotate(5deg) scale(1.3);
    //     }
    // }

    &__copyright {
        width: 85%;
        float: right;
    }
}





// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

.col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);

}


.curvy-card {
    display: inline-block;
    box-shadow: -3px 3px 18px rgba(0, 0, 0, 0.5);
    width: 300px;
    border-radius: calc(8px + 1.5vw) calc(.5vw);
    outline: none !important;
    padding: 15px;
}

.card {
    position: relative;
    min-height: 420px;

    &__picture {
        background-size: cover;
        height: 17rem;
        background-blend-mode: color;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-bottom: 1rem;

        &__dna--red {
//            background-image: linear-gradient(to right bottom, #ff0000, #6b2081), url(../assets/abstract-network-graph.png);            
            background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.1), rgb(129, 32, 32)), url(../assets/abstract-network-graph.png);
            background-position: center;
        }

        &__dna--blue {
            background-image: linear-gradient(to right bottom, rgba(0, 68, 255, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/NEDD4-noctua.png);
            background-blend-mode: hard-light;        
        }

        &__dna--green {
            background-image: linear-gradient(to right bottom, #11a92a, #000000), url(../assets/gene.jpeg);        
        }


    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 9rem;
        right: 3rem;
        background-image: linear-gradient(to right bottom, rgba(0, 23, 79, 1), rgba(43, 65, 138, 0.25));
        border-radius: 15px;
        padding: 5px 12px;
    }

    &__container {
        min-height: 400px;
        padding: 10px;
        margin: 10px 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1.5rem 4rem;
        border-radius: 3px !important;
        background-color: rgb(255, 255, 255) !important;
        color: black !important;
    }

    &__description {
        padding: 5px;
        margin-bottom: 50px;
        min-height: 170px;
    }

    &__link {
        // display: block;
        // width: 100%;
    }

    &__bottom {
        position: absolute;
        bottom: 20px;
        text-align: end;
        right: 30px;
    }

}
