h1 {
    color: #002379 !important;
}

h2 {
    color: #002379 !important;
    margin-top: 40px 0px;
}

h3 {
    margin: 20px 0px
}

h4 {
    margin: 20px 0px
}

hr {
    margin-top: 32px;
    border-top: 1px solid lightsteelblue;
}

b, strong {
    font-weight: 800 !important;
}

a {
    border: none !important;
    color: navy;
}

.link-extended {
  letter-spacing: 3px;
}

.basic-link {
    text-decoration: none;
}

.permalink {
    font-family: inherit;
    position: relative;

    &:hover::before {
        content: '#';
        position: absolute;
        left: -0.8em;
        top: 0.2em;
        font-size: 0.8em;
        opacity: 0.7;
    }
}

.permalink-anchor {
    // Account for the fixed header
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}

a:not(.btn):not(.yasr_btn):not(.list-group-item):not(.dropdown-menu__item__link):not(.go-link):not(.basic-link):not(.permalink) {
    color: $color-primary;
    text-decoration: none !important;
    display: inline-block;
    position: relative;

    &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $color-primary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.btn {
    border-radius: calc(8px + 1.5vw) calc(.5vw);
    outline: none !important;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
        transform: translateY(-3px);
    }
    &:focus {
        border: none;
    }
}

.btn-lg {
    padding: 1rem 2rem;
}

.tt-input {
    border-radius: 25px;
}

.dropdown-menu {
    width: 250px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: -5px 10px 29px black;
    // padding: 5px !important;
    background-color: $navbar-color;
    border: none;
    box-shadow: -5px 15px 29px;
    padding: 10px 10px !important;
    animation-name: moveInUp;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

.dropdown-menu__item {
    padding: 0px;
    margin: 0px;
    transition: all 0.2s;

    &__link {
        display: block;
        padding: 8px 6px;
        text-decoration: none;
        font-weight: 400 !important;
        width: 100%;
        transition: padding 0.2s;
        // transition:  0.15s text-align ease;

        &:hover {
            text-decoration: none;
            font-weight: 400 !important;
            background-color: lightgrey;
            background-color: navy;
            color: white;
            border-radius: 5px;
            padding-left: 10px;
        }
    }
}

.go-link {
    font-weight: 900;
    color: rgb(66, 82, 175) !important;
}

.go-main-logo {
    filter: drop-shadow(8px 8px 10px white);
    // filter: blur(5px);
}

.site {
    &__title {
        // animation-name: moveInUp;
        // animation-duration: 1s;
        // animation-timing-function: ease-out;
    }
    &__statement {
        padding-top: 15px; // animation-name: moveInLeft;
        // animation-duration: 1s;
        // animation-timing-function: ease-out;
    }
}

.header_stat {
    display: inline-block;
    color: white;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.nav > li {
    margin-right: 15px;
}

.fa {
    text-shadow: rgba(0, 0, 0, 0.25) 1.5px 1.5px 5px;
}

.input_hint {
    font-size: $value-xmsmall;
    font-style: italic;
    margin-top: 0.3rem;
}
