$default-line-height: 1.6;

$color-primary: rgba(66, 82, 175, 1);
$color-secondary: rgba(231, 81, 127, 1);
$color-tertiary: #21A179;
$color-quaternary: #dab61a;
$color-white: #fff;
$color-grey: rgb(206, 203, 203);
$color-black: #000;
