
<footer class="footer">
	<hr style="margin:8px; padding:0px">

	<div >
		<div class="col-sm-6" style="padding-left: 45px; text-align: left;">
			<div class="footer__navigation">
				<ul class="footer__list" style="padding-left: 0px;">
					<li class="footer__item">
						<a href="/" class="footer__link link-extended" style="color: white !important;">Home</a>
					</li>
					<li class="footer__item">
						<a href="http://help.geneontology.org" class="footer__link link-extended" style="color: white !important;" target="blank">Contact us</a>
					</li>
					<li class="footer__item">
						<a href="/docs/go-citation-policy/" class="footer__link link-extended" style="color: white !important;">Citation and Terms</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6" style="padding-left: 0px; padding-right: 35px; text-align: right;">
			<p class="footer__copyright">
				<small class="footer__text">
					Copyright © 1999-2019
					Member of the
					<a href="http://www.obofoundry.org/"  class="footer__link" rel="external" title="Open Biological Ontologies" target="blank">Open Biological Ontologies Foundry</a>
					The Gene Ontology Consortium is supported by a P41 grant from the National Human Genome Research Institute (NHGRI) [grant
					<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9209989" rel="external" title="National Human Genome Research Institute grant 2U41HG002273-17" class="footer__link" target="blank">
						U41 HG002273</a>]
				</small>
			</p>
		</div>
	</div>
</footer>
