<!-- <footer class="footer">
	<div class="container">

		<div class="row-fluid">
			<div class="span4">
				<small>
					Copyright © {{ site.title }} {{ site.time | date: '%Y' }}
					<a href="http://geneontology.org/" title="The Gene Ontology project website">the Gene Ontology</a> (
					<a href="/page/use-and-license">CC-BY 4.0</a>) •
					<a href="http://help.geneontology.org" target="blank" title="Contact the GO helpdesk">Helpdesk</a>
					•
					<a href="/page/go-citation-policy" title="How to cite the GO project">Citation/attribution</a>
					•
					<a href="/page/use-and-license" title="Terms of use for the GO project">Terms of use</a>
					• Member of the
					<a href="http://www.obofoundry.org/" rel="external" title="Open Biological and Biomedical Ontologies">Open Biological and Biomedical Ontologies</a>
				</small>
			</div>
			<div class="span8">
				<small>
					The Gene Ontology Consortium is supported by a P41 grant from the National Human Genome Research Institute (NHGRI) [grant
					<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9209989" rel="external" title="National Human Genome Research Institute grant 2U41HG002273-17">
					2U41HG002273-17</a>].
				</small>
			</div>
		</div>
	</div>
</footer> -->


<footer class="footer">
	<!-- <div class="footer__logo-box">
		<img src="assets/go-logo.large.png" alt="Full logo" class="footer__logo">
	</div> -->
	<div class="row" style="background: linear-gradient(white, #4252af); padding-top: 6rem;	">
		<div class="col-sm-6" style="margin-left: -53px; padding-left: 35px; padding-right: 0px;">
			<div class="footer__navigation">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="/" class="footer__link">Gene Ontology</a>
					</li>
					<li class="footer__item">
						<a href="/docs/collaborations/" class="footer__link">Collaborators</a>
					</li>
					<li class="footer__item">
						<a href="http://help.geneontology.org" class="footer__link" target="blank">Contact us</a>
					</li>
					<li class="footer__item">
						<a href="/docs/go-citation-policy/" class="footer__link">Terms</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6" style="padding-left: 35px; padding-right: 0px">
			<p class="footer__copyright">
				<small class="footer__text">
					Copyright © 1999-2018
					<a href="http://geneontology.org/"  class="footer__link" title="The Gene Ontology project website">the Gene Ontology</a>
					<br> Member of the
					<a href="http://www.obofoundry.org/"  class="footer__link" rel="external" title="Open Biological and Biomedical Ontologies" target="blank">Open Biological and Biomedical Ontologies</a>
					<br>
					The Gene Ontology Consortium is supported by a P41 grant from the National Human Genome Research Institute (NHGRI) [grant
					<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9209989" rel="external" title="National Human Genome Research Institute grant 2U41HG002273-17" class="footer__link" target="blank">
						2U41HG002273-17</a>].
				</small>
			</p>
		</div>
	</div>
</footer>