<nav class="navbar navbar-default navbar-fixed-top go-navbar">

    <div class="container navbar-container" style="width: 100%;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand go-link" href="{{ site.baseurl }}/" style="margin-right: 20px;">
                <span>
                    <img src="/assets/go-logo.large.png">
                </span>
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">


                {% for doc in site.data.docs %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle link-extended u-letter-spacing-xxsmall" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" style="padding: 8px 3px;" aria-expanded="false">{{ doc.title }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:248px; margin-bottom: 0px; padding: 0px; transform:translateY(-3px)">
                            {% for subdoc in doc.docs %}{% for doc in site.docs %}{% assign filename = doc.url | replace: '/docs/', '' %}{% assign filename = filename | replace: '/', '' %}{%if filename == subdoc %}<a href="{{doc.url}}" class="dropdown-menu__item__link">{{ doc.title }}</a>{% endif %}{% endfor %}{% endfor %}
                        </div>
                    </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle u-letter-spacing-xsmall" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                        style="padding: 8px 3px;" aria-expanded="false">
                        Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 280px; margin-bottom: 0px;">

                        <a href="/search.html" title="Search GO Documentation"   class="dropdown-menu__item__link">
                            <i class="fa-solid fa-search"></i>
                            &nbsp; Search Documentation</a>

                        <a href="{{ " /docs/faq/ " | prepend: site.baseurl }}"  class="dropdown-menu__item__link">
                            <i class="fa-solid fa-question" style="margin-right: 4px; margin-left: 2px;"></i>
                            &nbsp; Frequently Asked Questions</a>
                        
                        <a href="{{ " /docs/go-archives/ " | prepend: site.baseurl }}"  class="dropdown-menu__item__link">
                            <i class="fa-solid fa-archive" style="margin-right: 4px; margin-left: 2px;"></i>
                            &nbsp; GO Archives & Deprecated Products/Formats</a>                        

                        <a href="{{ " /docs/go-citation-policy/ " | prepend: site.baseurl }}"  class="dropdown-menu__item__link">
                            <i class="fa-solid fa-pencil" style="margin-right: 4px; margin-left: 2px;"></i>
                            &nbsp; Citation Policy & Terms</a>

                        <a href="https://help.geneontology.org" target="blank" title="Contact the GO helpdesk"   class="dropdown-menu__item__link">
                            <i class="fa-regular fa-comments"></i>
                            &nbsp; Contact Us</a>

                    </div>
                </li>

            </ul>

            <!-- SOCIAL LINKS -->
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a rel="me" href="https://genomic.social/@go" target="blank" style="padding: 8px 3px; font-size: 15px;">    
                            <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/geneontology" target="blank" style="padding: 8px 3px; font-size: 15px;">
                            <i class="fa-brands fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/news4go" target="blank" style="padding: 8px 3px; font-size: 15px;">
                            <i class="fa-brands fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li style="margin-right: 5px">
                        <a href="https://www.facebook.com/pages/Gene-Ontology/305908656519" target="blank" style="padding: 8px 3px; font-size: 15px;">
                            <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <a href="https://www.alliancegenome.org" target="blank" alt="Alliance of Genome Resources" >
                    <img src="/assets/ALLIANCE-logo-nobackground_foundingmember.png" alt="Alliance of Genome Resources" style="height: 60px; margin-right: 10px;"/>
                </a>

            </div>

        </div>

    </div>

</nav>
